@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
--body:#C2FFF9;
--chatbotColor:#028090;
--white:#fff;
--black:#141414;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    background-color: var(--body);
    width: 100%;
    min-height: 100vh;
    display: flex;
    font-family: "Quicksand", sans-serif;
    align-items: center;
    justify-content: flex-end;
}
/* chat */
.containerChat{
    padding: 0 1rem;
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 0.5rem;
}
.sectionChat{
   
   
  background-color: var(--white);
  height: 25rem;
  width: 0rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
 

}
 .sectionChat.active{
    opacity: 1;
  width: 20rem;
height: 32rem;
 }
/* header chat */
.headerChat{
width: 100%;
height: 12%;
background-color: var(--chatbotColor);
padding: 0.3rem;
display: flex;
align-items: center;
justify-content: space-between;
color: var(--white);
font-weight: 600;
}
.headerTittle{
    display: flex;
    align-items: center;
}
.robochat{
    margin-right: 0.5rem;
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    border-radius: 50%;
    background-color: var(--white);
    color: var(--chatbotColor);
}
.fa-angle-down{
    font-size: 1.1rem;
}
.close{
    border-radius: 50%;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--white);
    background-color: transparent;
    height: 2rem;
    border: none;
    cursor: pointer;
    transition: 0.3s ease-in;
}
.close:hover{
    background-color: #026B79;
}
/* chat */
.chat{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    padding: 0.4rem 0.2rem;
    gap: 0.3rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color:  var(--chatbotColor) transparent;
}
.message{
    display: flex;
    gap: 0.2rem;
    
    
    width: 100%;
}
.message p{
    font-size: 0.8rem;
   min-height: 1.8rem;
    border-radius: 0.5rem;
    padding: 0.2rem;
    border: none;
    max-width: 75%;
}
.messageBot p{
    background-color: var(--body);
}
.messageUser{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.messageUser p{
    background-color: #eeeeee;
}
.messageBot .robochat{
    background-color: var(--chatbotColor);
    color: var(--white);
}

/* Mensagem input */
.messageInput{
    width: 100%;
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.3rem;
}
.inputOptions{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0.3rem;
    width: 93%;
    height: 2.5rem;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0 0.4rem 0.05rem rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 0.1rem;
}
.inputOptions i{
    color: #cdcdcd;
    transition: 0.3s ease-in;
}
.inputOptions .fa-paperclip:hover, .inputOptions .fa-face-smile-wink:hover{
    cursor: pointer;
color: #908f8f;
box-shadow: 0 0 0.4rem 0.05rem rgba(0, 0, 0, 0.1);
}
 .submitMessage{
  
   width: 0;
    height: 0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border: none; 
    background-color: var(--chatbotColor);
    cursor: pointer;
    transition: 0.3s ease-in;
    opacity: 0;
}
 .submitMessage:hover{
    box-shadow: 0 0 0.4rem 0.5rem rgba(0,0,0,0.1);
}
  .btnactive{
    width: 2rem;
    height: 2rem;
    opacity: 1;
}

.submitMessage i{
    color: var(--white);
}
.inputOptions input{
    height: 100%;
    width: 85%;
    padding: 0 0.2rem;
    border: none;
    outline: none;
}
/* thinking */
.thinking-indicator{
    display: flex;
    align-items: center;
   
}
.thinking-indicator .dot:nth-child(1){
    --delay: 0ms;
}
.thinking-indicator .dot:nth-child(2){
    --delay: 100ms;
}
.thinking-indicator .dot:nth-child(3){
    --delay: 200ms;
}
.thinking-indicator .dot{
    width: 0.7rem;
    height: 0.7rem;
    border-radius: 50%;
    background-color: #1D2D44;
    margin: 0 0.1rem;
    opacity: 0.2;
    animation: jump 0.6s var(--delay) infinite;
}
@keyframes jump{
    0%{
        opacity: 0.2;
        transform: translateY(0);
    }
    33%{
        opacity: 0.5;
        transform: translateY(-0.2rem);
    }
    66%{
        opacity: 0.2;
        transform: translateY(0);
    }
}

/* botão */
.btnChat{
    background-color: var(--chatbotColor);
    width: 3rem;
    height: 3rem;
    font-size: 1.5rem;
    color: var(--white);
    border-radius: 50%;
    border: none;
    box-shadow: 0 0 0.4rem 0.3rem rgba(0,0,0,0.1);
    transition: 0.3s ease-in;
    cursor: pointer;
}
.btnChat:hover{
    background-color: #02C39A;
    box-shadow: 0 0 0.4rem 0.5rem rgba(0,0,0,0.1);
}